@import "nib"
@import "module-keyframes"

/* Variables and functions */
color_texto = #323232
color_cyan = #009bdb
color_magenta = #ba007c
color_amarillo = #feee00
color_verde = #2CA51B

.clearfix
	clearfix()


*
	box-sizing border-box

body
	background url("../img/bg/tds.jpg") top left / cover no-repeat fixed #ccc
	color color_texto
	font-size 16px
	font-family 'Roboto', Arial, Helvetica
	line-height 1.25
	margin 1em
	padding 0

h1
h2
h3
h4
h5
h6
	font-family 'Oswald'

a
	color inherit
	text-decoration none
	&:hover
		text-decoration underline

.theContainer
	background rgba(255,2552,255,.9)
	box-shadow 0 0 10px 5px rgba(0,0,0,0.5)
	margin 0 auto
	padding 1em

.profile
	&-photo
		background #fff
		border 1px solid #ccc
		box-shadow 0 0 10px rgba(0,0,0,.5)
		margin 0 auto
		max-width 220px
		padding 10px
		// animation_name duration timing_function delay iteration_count
		animation swing .5s linear 2s 2
		img
			width 100%
			height auto
		figcaption
			text-align center
			font-family Courier, "Lucida Console"
			font-weight bold
	&-person
		font-size 300%
		margin 20px 0 20px
		text-align center
		text-transform uppercase
	&-job
		color #808080
		font-size 220%
		letter-spacing -2px
		margin 20px 0
		text-align center
	&-description
		background #000
		border 6px solid #868686
		border-top 1.1em solid #868686
		border-radius 6px 6px 0 0 
		clear both
		color #fff
		font-family Courier
		margin 0 0 2em
		padding 0em 1em
		&-username
		&-at
		&-host
			color #1ceeab
		&-cursor
			animation cursor_animate 1s infinite
	&-contactInfo
		border 1px solid #bbb
		border-radius 6px
		font-style normal
		padding 0 5px
		ul
			list-style none
			margin 1em 0
			padding 0
			li
				margin 0 0 .5em
				border-bottom 1px dashed #ccc
	&-social
		margin-top 10px
		text-align center
		.icon
			display inline-block
			margin 6px 10px
			&-github
				color #2c3e50
			&-twitter
				color #3aa9de
			&-facebook
				color #3a5999
			&-google
				color #d14836
			&-linkedin
				color #1380B0
			&-skype
				color #00AFF0
			&-rss
				color #f39c12

.section
	border-top 4px dashed #444
	clear both
	margin 2em 0
	&-title
		color white
		font-weight normal
		padding 10px
		text-shadow 1px 1px 1px #444
		&--cyan
			background color_cyan
		&--magenta
			background color_magenta
		&--yellow
			background color_amarillo
		&--green
			background color_verde

/*
320
480
768
992
1200
*/

@media screen and (min-width: 769px)
	.profile
		&-photo
			float left
			margin 1em 1em 3em 2em
			max-width 250px
		&-person
			float right
			font-size 330%
			text-align right
			width 350px
		&-job
			clear right
			font-size 260%
			text-align right
		&-contactInfo
			width 50%
			float left
		&-social
			width 50% right
			.icon
				margin 6px 25px

@media screen and (min-width: 992px)
	.theContainer
		max-width 960px
	.profile
		&-person
			font-size 450%
			width 600px
		&-description
			float left
			width 48%
		&-contactInfo
			float right
			width 48%
		&-social
			float right
			width 48%
			.icon
				margin 0px 40px
				font-size 140%

